{% extends "wrapper.html" %}
{% load static %}

{% block content %}
    {% include 'header_dark.html' %}

        <section class="contact-section flex flex-col flex-centered" id="contact">
      <div class="contact-section-wrapper flex flex-centered">
        <div class="contact-wrapper flex flex-col flex-centered">

            <h2 class="standard-title text-centered light">Orders History.</h2>

            <table class="account-table table table-bordered">
                <thead class="thead-success" style="background-color: #ffffff">
                    <tr>
                        <td class="text-info bold td-account">Order number</td>
                        <td class="text-info bold td-account">Order date</td>
                        <td class="text-info bold td-account">Order status</td>
                        <td class="text-info bold td-account">Order price</td>
                        <td class="text-info bold td-account">Order details</td>
                    </tr>
                </thead>
                {% for order in orders %}
                    <tr>
                        <td class="td-account">{{ order.id }}</td>
                        <td class="td-account">{{ order.date }}</td>
                        <td class="td-account">{{ order.status }}</td>
                        <td class="td-account">{{ order.total_price }}</td>
                        <td class="td-account"><button type="button" class="btn btn-sm checkout-button" data-toggle="modal" data-target="#myModal-{{ order.id }}">
                          Order details
                        </button></td>
                    </tr>
                {% endfor %}
            </table>

    {% for order in orders %}
        <!-- Modal -->
        <div class="modal fade" id="myModal-{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" >
            <div class="modal-content"  style="background-color: #2f2f2f">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tours</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
{#                TODO tours => cart#}
                    {% for tour in order.tours.items.all %}
                        <tr>
                            <td>{{ tour.title }}</td>
                            <td>{{ tour.price }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Total: </td>
                        <td>{{ order.total_price }}</td>
                    </tr>
                </table>
{#              TODO payer info#}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                <button type="button" class="btn btn-primary">Save changes</button>#}
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

        </div>
      </div>
        </section>
{% endblock %}
