{% extends "wrapper.html" %}
{% load static %}

{% block content %}
    {% include 'header_dark.html' %}

    <section class="contact-section flex flex-col flex-centered cart-section" id="contact">
      <div class="contact-section-wrapper flex flex-centered">
        <div class="contact-wrapper flex flex-col flex-centered">

            {% if cart.items.count > 0 %}
                <h2 class="standard-title text-centered light">Cart.</h2>
                <div id="shopping-cart">
                    <table class="table table-bordered">
                        <thead class="thead-success cart-head-wrapper">
                            <tr>
                                <td class="text-info bold td-cart">TOUR</td>
                                <td class="text-info bold td-cart">PRICE</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart.items.all %}
                                <tr class="cart-item-{{ item.slug }}">
                                    <td class="td-cart">{{ item.title }}</td>
                                    <td class="td-cart">{{ item.price }}</td>
                                    <td class="td-cart"><a href="" class="remove-from-cart" data-slug="{{ item.slug }}"><button class="btn btn-danger bold">Remove</button></a></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td class="td-cart bold" style="color: #83ce7c">TOTAL COST:</td>
                                <td class="td-cart bold" style="color: #83ce7c" id="cart-total">{{ cart.cart_total }}</td>
                                <td class="td-cart"><a href="{% url 'order' %}"><button class="btn btn-info checkout-button bold">Checkout</button></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h3 class="standard-title text-centered light">Cart is empty</h3>
            {% endif %}

        </div>
      </div>
    </section>
{% endblock %}

{% block jquery %}
    <script>
    $( document ).ready(function() {
        $('.remove-from-cart').on('click', function(e) {
            e.preventDefault();
            let tour_slug = $(this).attr('data-slug');
            let data = {
                tour_slug
            }

            $.ajax({
                type: "GET",
                url: "{% url 'remove_from_cart' %}",
                data,
                success: (data) => {
                    $('#cart-total').html(parseFloat(data.cart_total).toFixed(5));
                    $('#cart-count').html(data.cart_total_count);
                    if(data.cart_total_count == 0){
                        $("#shopping-cart").remove()
                        $('#shopping-cart-title').html('cart is empty')
                    }
                }
            })

            $('.cart-item-' + tour_slug).remove()
        })
    });
    </script>
{% endblock %}