  <!-- REGULAR HEADER -->
  <header class="header-main">
    <div class="header-wrapper flex row">

      <div class="header-menu-item-wrapper">
        <ul class="header-menu flex" data-aos="leftSlideLong" data-aos-duration="550" data-aos-once="true">
          <li class="header-menu-unit"><a class=" header-menu-link-alt title-link header-text-logo black" href="{% url 'base' %}">Interocket.</a></li>
        </ul>
      </div>
      <div class="header-menu-item-wrapper">
        <ul class="header-menu flex" data-aos="leftSlideLong" data-aos-duration="550" data-aos-once="true">
          <li class="header-menu-unit"><a class=" header-menu-link-alt bold" href="{% url 'base' %}">Home</a></li>
        </ul>
      </div>
      <div class="header-menu-item-wrapper">
        <ul class="header-menu flex" data-aos="leftSlideLong" data-aos-duration="550" data-aos-once="true">
          <!-- <li class="header-menu-unit"><a class="header-menu-link bold" href="#">VIP</a></li> -->
          <li class="header-menu-unit"><a class=" header-menu-link-alt bold" href="{% url 'login' %}">Sign In</a></li>
          <li class="header-menu-unit"><a class=" header-menu-link-alt bold" href="{% url 'registration' %}">Sign Up</a></li>
        </ul>
      </div>

    </div>
  </header>