{% extends "wrapper.html" %}
{% load static %}


{% block content %}
    {% include 'header_dark_auth.html' %}

    <section class="contact-section flex flex-col flex-centered" id="contact">
      <div class="contact-section-wrapper flex flex-centered">
        <div class="contact-wrapper flex flex-col flex-centered">

          <h2 class="standard-title text-centered light">Go on. Sign up.</h2>

          <div class="contact-form-container">
            <form action=''  method="POST" class='form'>
                {% csrf_token %}
                <div>
              <p class='field required half' data-aos="upSlideLong" data-aos-once="false">
                <label class='label required' for='first_name'>First Name</label>
                <input class='text-input' id='first_name' name='first_name' required type='text'>
              </p>
                <p class='field required half' data-aos="upSlideLong" data-aos-once="false">
                <label class='label required' for='last_name'>Last Name</label>
                <input class='text-input' id='last_name' name='last_name' required type='text'>
              </p>
                </div>
                <p class='field required half' data-aos="upSlideLong" data-aos-once="false">
                <label class='label required' for='username'>Username</label>
                <input class='text-input' id='username' name='username' required type='text'>
              </p>
              <p class='field required half' data-aos="upSlideLong" data-aos-once="false">
                <label class='label required' for='email'>Email</label>
                <input class='text-input' id='email' name='email' required type='email'>
              </p>
                <div>
              <p class='field required half' data-aos="upSlideLong" data-aos-once="false">
                <label class='label required' for='password'>Password</label>
                <input class='text-input' id='password' name='password' required type='password'>
              </p>
                <p class='field required half' data-aos="upSlideLong" data-aos-once="false">
                <label class='label required' for='password_check'>Repeat password</label>
                <input class='text-input' id='password_check' name='password_check' required type='password'>
              </p>
                </div>
              <p class='field field-button' data-aos="upSlideLong" data-aos-duration="700" data-aos-once="false">
                <input class='button uppercase black' id="button-submit" type='submit' value='send' data-toggle="modal" data-target="#exampleModal">
              </p>
            </form>
          </div>

        </div>
      </div>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Snake-o-check</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body flex snake-container">
                    <canvas id="gc" width="400" height="400"></canvas>
                    <h5 class="modal-description">Prove that you are not a robot by eating 4 fruits.</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script>

    let audio = new Audio("{% static 'audio/thrones.mp3' %}");
    
    px=py=10;
    gs=tc=20;
    ax=ay=15;
    xv=yv=0;
    trail=[];
    tail = 5;
    function game() {
        if(tail > 8){
            tail = 5;
            // alert('Great Job!');
            audio.pause();
            $('.close').click();
            $('#button-submit').unbind('click');
            $('#button-submit').click();
        }
        px+=xv;
        py+=yv;
        if(px<0) {
            px= tc-1;
        }
        if(px>tc-1) {
            px= 0;
        }
        if(py<0) {
            py= tc-1;
        }
        if(py>tc-1) {
            py= 0;
        }
        ctx.fillStyle="#2f2f2f";
        ctx.fillRect(0,0,canv.width,canv.height);

        ctx.fillStyle="#83ce7c";
        for(var i=0;i<trail.length;i++) {
            ctx.fillRect(trail[i].x*gs,trail[i].y*gs,gs-2,gs-2);
            if(trail[i].x==px && trail[i].y==py) {
                tail = 5;
            }
        }
        trail.push({x:px,y:py});
        while(trail.length>tail) {
        trail.shift();
        }

        if(ax==px && ay==py) {
            tail++;
            ax=Math.floor(Math.random()*tc);
            ay=Math.floor(Math.random()*tc);

        }
        ctx.fillStyle="#e7bd16";
        ctx.fillRect(ax*gs,ay*gs,gs-2,gs-2);
    }
    function keyPush(evt) {
        switch(evt.keyCode) {
            case 37:
                xv=-1;yv=0;
                break;
            case 38:
                xv=0;yv=-1;
                break;
            case 39:
                xv=1;yv=0;
                break;
            case 40:
                xv=0;yv=1;
                break;
        }
    }
    $( document ).ready(function() {
        $('#button-submit').on('click', function(e) {
            e.preventDefault();
            audio.play();

            $('html, body').css({
                overflow: 'hidden',
                height: '100%'
            });
            canv=document.getElementById("gc");
            ctx=canv.getContext("2d");
            document.addEventListener("keydown",keyPush);
            setInterval(game,1000/15);
        });
        $('.close').on('click', function(e) {
            audio.pause();
            $('html, body').css({
                overflowY: 'auto',
                height: 'auto'
            });

            location.reload();
        });
    });
    </script>
{% endblock %}
