{% extends 'wrapper.html' %}

{% block content %}
    {% include 'header.html' %}
    <div class="container" style="padding-top: 7%">

    <div class="col-lg-12 col-md-12 mb-12">
      <div class="card h-100">
        <img class="card-img-top" src="{{ tour.image.url }}" alt="">
        <div class="card-body">
          <h4 class="card-title">
            {{ tour.title }}
          </h4>
          <p class="card-text">{{ tour.description }}</p>
            <p class="card-text">Duration {{ tour.duration }} Earth days</p>
            <h5>{{ tour.price }} BTC</h5>
            {% if request.user.is_authenticated %}
                <a href="" class="add-to-cart" data-slug="{{ tour.slug }}"><button class="btn btn-danger">Add to cart</button></a>
            {% else %}
                <a href="{% url 'registration' %}" class=""><button class="btn btn-danger">Sign Up</button></a>
            {% endif %}
        </div>
      </div>
    </div>
    </div>
{% endblock content %}

{% block jquery %}
    <script>
    $( document ).ready(function() {
        $('.add-to-cart').on('click', function(e) {
            e.preventDefault();
            let tour_slug = $(this).attr('data-slug');
            let data = {
                tour_slug
            }

            $.ajax({
                type: "GET",
                url: "{% url 'add_to_cart' %}",
                data,
                success: (data) => {
                    $('#cart-count').html(data.cart_total_count)
                }
            })
        })
    });
    </script>
{% endblock %}