{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

      <meta name="description" content="Interocket - Be the first, explore">
      <meta name="author" content="Dima/Anya/Dan">

      <title>Interocket</title>

      <link rel="icon" href="{% static 'img/earth_outline.ico' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <link rel="stylesheet" href="{% static 'css/form.css' %}">
      <link rel="stylesheet" href="{% static 'css/animations.css' %}">
      <link rel="stylesheet" href="{% static 'css/aos.css' %}">

      <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

      <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">

  </head>
  <body>

    {% block content %}
    {% endblock %}


    <footer class="flex">
        <div class="footer-wrapper flex flex-centered flex-row black">
            <div class="footer-text flex"><span>Kyiv 2018</span></div>
            <div class="flex">
                <div class="footer-text flex"><span>Sponsored by:</span></div>
                <div class="footer-social-icon-container"><img class="footer-social-icon" src="{% static 'icons/icon-facebook.svg' %}" alt="Facebook"></div>
                <div class="footer-social-icon-container"><img class="footer-social-icon" src="{% static 'icons/icon-tesla.png' %}" alt="Tesla"></div>
                <div class="footer-social-icon-container"><img class="footer-social-icon" src="{% static 'icons/icon-airbnb.png' %}" alt="Airbnb"></div>
            </div>
            <div class="footer-text flex"><span><strong>©</strong> Interocket.</span></div>
        </div>
    </footer>

    <script src='{% static "js/jquery.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/formLabels.js' %}"></script>
    <script src="{% static 'js/onScroll.js' %}"></script>
    <script src="{% static 'js/tabNavigation.js' %}"></script>
    <script src="{% static 'js/backToTop.js' %}"></script>

 {%  block jquery %}

 {% endblock %}

</body>
</html>
